:root {
    --white: #ffffff;
    --gray: #9a9a9a;
    --orange: #ff5722;
    --blue: #10375c;
    --dark-blue: #0d2c4a;
}
.page {
    margin: 0;
    padding: 0;
    font-family: Playfair Display, Lato, serif;
}

.top-menu__list {
    display: flex;
    width: 80%;
    margin-left: 12%;
    margin-top: 30px;
    list-style-type: none;
}

.top-menu__list a {
    margin-right: 10%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: var(--blue);
}

.top-menu__button {
    font-size: 1em;
    margin: 0 1.4%;
    border: 0;
    background: none;
    cursor: pointer;
}

.top-menu__login-button {
    border: 0;
    margin-left: 12%;
    padding: 0 10px;
    font-size: 1em;
    background: none;
    color: var(--orange)
}

.top-menu__sign-up-button {
    border: 0;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--orange);
    box-shadow: 0 3px 4px var(--orange);
}

.main-container {
    width: 80%;
    margin-left: 10%;
}

.introduction {
    position: relative;
    color: var(--blue);
    margin-top: 50px;
    max-width: 190px;
    font-size: 20px;
}

.introduction:after {
    content: " ";
    height: 2px;
    width: 70px;
    background: var(--blue);
    position: absolute;
    top: 50%;
    right: 0;
}

.heading-section {
    display: flex;
    margin-top: 15px;
}

.main-heading {
    font-size: 52px;
    margin-right: auto;
    color: var(--blue);
    max-width: 570px;
}

.main-heading__review {
    justify-content: flex-end;
    font-size: 20px;
    color: var(--gray);
    max-width: 370px;
}

.main-heading__first-word{
    color: var(--orange);
}

.search-form {
    background: var(--blue);
    max-width: 459px;
    max-height: 445px;
}

.search-form__title {
    padding-top: 20px;
    margin-left: 20px;
    font-size: 34px;
    color: var(--white);
}





